<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings._0495_392_TeamOrangeConnectionString"
            connectionString="Data Source=itstudent.ntc.edu;Initial Catalog=0495_392_TeamOrange;Persist Security Info=True;User ID=vsorange;Password=orange"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>